{% macro textCollectionItem(formData, method, removetext) %}
    
    
        
        {% set name = formData.vars.full_name %}
   
    
    <div class="form-group" data-content="{{ name }}">
         
        {{ form_label(attribute(formData, method)) }}
        {% if formData.vars.name == 'rehabilitationcertificate' %}
    <div class="col-sm-6">
   {{ form_widget(formData) }}
   
    </div>
   
       <div class="col-sm-4">
          
           <a class="btn-remove" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> {{ removetext }}</button></a>
           
       </div>
   {% endif %}
    </div>
{% endmacro %}



{#{% macro tfocusCollectionItem(formData) %}
    <div class="form-group">
    {{ form_label(formData.focus) }}
    <div class="col-sm-3">
   {{ form_widget(formData.focus) }}
   
    </div>
   
       <div class="col-sm-7">
          
           <button class="btn btn-danger" type="button" onclick="removeParent(this)"><span class="glyphicon glyphicon-remove"></span> Schwerpunkt löschen</button>

{% macro rehabCollectionItem(formData) %}
    
    
        
        {% set name = formData.vars.full_name %}
    
    
    <div class="form-group" data-content="{{ name }}">
        {{ form_label(attribute(formData, 'terminationdate')) }}
    <div class="col-sm-3">
   {{ form_widget(attribute(formData, 'terminationdate')) }}
   
    </div>
   <div class="col-sm-1">
   {{ form_label(attribute(formData, 'rehabunits')) }}
   
    </div>
    <div class="col-sm-3">
         
   {{ form_widget(attribute(formData, 'rehabunits')) }}
   
    </div>
       <div class="col-sm-3">
          
           <a class="btn-remove" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> Rehaschein löschen</button></a>

           
       </div>
   
    </div>

{% endmacro %}#}
=======
{% endmacro %}
>>>>>>> refs/remotes/origin/Danny_System
