{% macro textCollectionItem(formData, method, removetext) %}    
            
    {% set name = formData.vars.full_name %}
    <div class="form-group" data-content="{{ name }}">

        {{ form_label(attribute(formData, method)) }} 
        
    <div class="col-sm-3">
        {{ form_widget(attribute(formData, method)) }} 
        
    </div>   
       <div class="col-sm-7">          
           <a class="btn-remove" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> {{ removetext }}</button></a>
       </div>   
    </div>
           
{% endmacro %}



{% macro rehabCollectionItem(formData) %}
    {% set name = formData.vars.full_name %}
    
 <div class="panel panel-default" data-content="{{ name }}">
        <div class="panel-heading"><h3 class="panel-title pull-left">Rehaschein</h3> <a class="btn-remove pull-right" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> löschen</button></a><div class="clearfix"></div></div>
   <div class="panel-body">
    <div class="form-group">

        {{ form_label(attribute(formData, 'terminationdate')) }}
    <div class="col-sm-4">
   {{ form_widget(attribute(formData, 'terminationdate')) }}
   
    </div>
   <div class="col-sm-2">
   {{ form_label(attribute(formData, 'rehabunits')) }}
   
    </div>
    <div class="col-sm-4">
         
   {{ form_widget(attribute(formData, 'rehabunits')) }}
   
    </div>
{#       <div class="col-sm-3">
          
           <a class="btn-remove" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> Rehaschein löschen</button></a>

       </div>#}
    </div>
    </div>
 </div>
{% endmacro %}

{% macro sportsgrCollectionItem(formData) %}
    {% set name = formData.vars.full_name %}
    
    <div class="panel panel-default" data-content="{{ name }}">
          <div class="panel-heading"><h3 class="panel-title pull-left">Sportgruppenzuweisung</h3> <a class="btn-remove pull-right" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> löschen</button></a><div class="clearfix"></div></div>
          <div class="panel-body">
           <div class="form-group">
     
   {{ form_label(attribute(formData, 'sportsgroup')) }}
   
    
    <div class="col-sm-10">
         
   {{ form_widget(attribute(formData, 'sportsgroup')) }}
   
    </div>
   </div>
   
   
        <div class="form-group">
        {{ form_label(attribute(formData, 'joined')) }}
    <div class="col-sm-4">
   {{ form_widget(attribute(formData, 'joined')) }}
   
    </div>
   <div class="col-sm-1">
   {{ form_label(attribute(formData, 'resignedfrom')) }}
   
    </div>
    <div class="col-sm-5">
         
   {{ form_widget(attribute(formData, 'resignedfrom')) }}
   
    </div>

        </div>

          </div>
    </div>
{% endmacro %}

{% macro bssaCollectionItem(formData) %}
        
    {% set name = formData.vars.full_name %}
    <div class="panel panel-default" data-content="{{ name }}">
        <div class="panel-body">
    <div class="form-group" >
        {{ form_label(attribute(formData, 'terminationdate')) }}
    <div class="col-sm-3">
        {{ form_widget(attribute(formData, 'terminationdate')) }}
    </div>
   
    <div class="col-sm-2">
        {{ form_label(attribute(formData, 'groupnr')) }}
    </div>
    <div class="col-sm-2">    
        {{ form_widget(attribute(formData, 'groupnr')) }}
    </div>
    </div>
    
   <div class="form-group" data-content="{{ name }}">
        {{ form_label(attribute(formData, 'startdate')) }}
    <div class="col-sm-3">
        {{ form_widget(attribute(formData, 'startdate')) }}
    </div>
   
    <div class="col-sm-2">
        {{ form_label(attribute(formData, 'bssacertnr')) }}
    </div>
    <div class="col-sm-2">    
        {{ form_widget(attribute(formData, 'bssacertnr')) }}
    </div>
    
    <div class="col-sm-3">
    
{#           <a class="btn-remove" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span>BSSA-Zertifikat  löschen</button></a>#}
</div>
   </div>  
    </div>
    </div>
{% endmacro %}


{% macro licenceCollectionItem(formData) %}   
    {% set name = formData.vars.full_name %}
    <div class="panel panel-default" data-content="{{ name }}">
     <div class="panel-heading"><h3 class="panel-title pull-left">Lizenzinformationen</h3><a class="btn-remove pull-right" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> löschen</button></a><div class="clearfix"></div></div>    
    <div class="panel-body">
    <div class="form-group" data-content="{{ name }}">
    {{ form_label(attribute(formData, 'issuedate')) }}
    <div class="col-sm-3">
    {{ form_widget(attribute(formData, 'issuedate')) }}  
    </div>
    <div class="col-sm-1">
    {{ form_label(attribute(formData, 'licencenumber')) }}   
    </div>
    <div class="col-sm-3">         
    {{ form_widget(attribute(formData, 'licencenumber')) }}   
    </div> 
    </div>  
    
    <div class="form-group" data-content="{{ name }}">
    {{ form_label(attribute(formData, 'expirationdate')) }}
    <div class="col-sm-3">
    {{ form_widget(attribute(formData, 'expirationdate')) }}      
    </div>
    <div class="col-sm-1">
    {{ form_label(attribute(formData, 'licencetype')) }}   
    </div>
    <div class="col-sm-3">         
    {{ form_widget(attribute(formData, 'licencetype')) }}     
    </div>
    </div>
    </div>
</div>
{% endmacro %}

{% macro focusItem(formData) %}
  {% set name = formData.vars.full_name %}
    <div class="form-group" data-content="{{ name }}">
                {{ form_label(attribute(formData, 'theme')) }}
                <div class="col-sm-3">
                {{ form_widget(attribute(formData, 'theme')) }}
                </div>
       <div class="col-sm-7">          
           <a class="btn-remove" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> Schwerpunkt löschen</button></a>
       </div>           
    </div>
{% endmacro %}

{#macro for the ObjectOrder form#}
{% macro orderItem(formData) %}
  {% set name = formData.vars.full_name %}
    <div class="panel panel-default" data-content="{{ name }}">
        <div class="panel-heading"><h3 class="panel-title pull-left">Bestellinformation</h3><a class="btn-remove pull-right" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> löschen</button></a><div class="clearfix"></div></div>    
        <div class="panel-body">
            <div class="form-group">
                {{ form_label(attribute(formData, 'invoicenumber')) }}
                <div class="col-sm-3">
                {{ form_widget(attribute(formData, 'invoicenumber')) }}
                </div>
    
                <div class="col-sm-2">
                {{ form_label(attribute(formData, 'orderdate')) }}
                </div>
                <div class="col-sm-5">
                {{ form_widget(attribute(formData, 'orderdate')) }}
                </div>
            </div>
    
            <div class="form-group">
                {{form_label(attribute(formData,'orderprice'))}}
                <div class="col-sm-3">
                    {{form_widget(attribute(formData,'orderprice'))}}
                </div>
                <div class="col-sm-2">
                {{form_label(attribute(formData,'quantity'))}}
                </div>
                <div class="col-sm-5">
                    {{form_widget(attribute(formData,'quantity'))}}
                </div>
            </div>
                
            <div class="form-group">
                {{form_label(attribute(formData,'company'))}}
                <div class="col-sm-10">
                    {{form_widget(attribute(formData,'company'))}}
                </div>
            </div>
        </div>    
    </div>           
{% endmacro %}

{#macro for the Stocktaking form#}
{% macro stocktakingItem(formData) %}
  {% set name = formData.vars.full_name %}
    
    <div class="panel panel-default" data-content="{{ name }}">
        <div class="panel-heading"><h3 class="panel-title pull-left">Inventurinformation</h3><a class="btn-remove pull-right" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> löschen</button></a><div class="clearfix"></div></div>    
        <div class="panel-body">
            <div class="form-group">
                {{ form_label(attribute(formData, 'stockdate')) }}
                <div class="col-sm-10">
                {{ form_widget(attribute(formData, 'stockdate')) }}
                </div>
            </div>     
                
            <div class="form-group">
                {{ form_label(attribute(formData, 'quantity')) }}
                <div class="col-sm-4">
                {{ form_widget(attribute(formData, 'quantity')) }}
                </div>
                <div class="col-sm-2">
                {{ form_label(attribute(formData, 'location')) }}
                </div>
                <div class="col-sm-4">
                {{ form_widget(attribute(formData, 'location')) }}
                </div>
            </div>
    
            <div class="form-group">
                {{form_label(attribute(formData,'state'))}}
                <div class="col-sm-10">
                {{form_widget(attribute(formData,'state'))}}
                </div>
            </div>
        </div>
    </div>           
{% endmacro %}

{% macro roomItem(formData) %}
  {% set name = formData.vars.full_name %}
    <div class="panel panel-default" data-content="{{ name }}">
        <div class="panel-heading"><h3 class="panel-title pull-left">Raum</h3><a class="btn-remove pull-right" data-related="{{ name }}"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> löschen</button></a><div class="clearfix"></div></div>    
        <div class="panel-body">
            <div class="form-group">
                {{ form_label(attribute(formData, 'roomname')) }}
                <div class="col-sm-3">
                {{ form_widget(attribute(formData, 'roomname')) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}