<!DOCTYPE html>
<html>
    <head>

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="utf-8">
        {% endblock %}
        
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/> 
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       
        {% block javascriptsrc %}
        <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/dataTables.fixedColumns.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/dataTables.fixedColumns.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
        
        <script type="text/javascript">
        {% block javascript %}
        
 
        $(document).ready( function () {
    var oTable = $('#myTable').dataTable( {
        
        "sScrollY": screen.availHeight*0.51,
        "sScrollX": "100%",

        "bScrollCollapse": true,
        "bPaginate": false,
        "bFilter": false,
        "bInfo": false,
        fixedColumns: {

        leftColumns: {% block fixedcolnum %}{% endblock %}

    },
            {% block columndefs %}
       
  {% endblock %}


    } );
    
    new $.fn.dataTable( oTable );
   
} );

   
        {% endblock %}

       </script>
        
    </head>
    
    <body>
       
        {% block body %}
           <div class="container-fluid"> 
            {% block navbar %}
                <div class="row">
                    <header>
                        <nav class="navbar navbar-default  col-md-12">
                            <ul class="nav navbar-nav">
                                <li class="{% block HomeAktiv %}{% endblock %}"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                                <li class="{% block MitglAktiv %}#{% endblock %}"><a href="{{ path('member_home') }}">Mitglieder</a></li>
                                <li class="{% block NMitglAktiv %}{% endblock %}"><a href="{{path('nonmember_home')}}">Nichtmitglieder</a></li>
                                <li class="{% block AustrittAktiv %}#{% endblock %}"><a href="#">Austrittsliste</a></li>
                                <li class="{% block SportgrAktiv %}#{% endblock %}"><a href="#">Sportgruppen</a></li>
                                <li class="dropdown {% block FinanzAktiv %}{% endblock %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Finanzverwaltung<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="{% block MitglFinAktiv %}#{% endblock %}"><a href="{{ path('member_fin') }}">Mitglieder</a></li>
                                        <li class="{% block BeitragAktiv %}#{% endblock %}"><a href="#">Beitragsverwaltung</a></li>
                                    </ul>
                                </li>
                                <li class="{% block TrainerAktiv %}#{% endblock %}"><a href="{{path('trainer_home')}}">Übungsleiter</a></li>
                            </ul>
                        </nav>
                    </header>
                 </div>
          	
            {% endblock %}
                
{% for flashMessage in app.session.flashbag.get('notice') %}
   <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ flashMessage }}</strong>
  </div>
{% endfor %} 
                                
         {% block topmenu %}                       
            <div class="topmenu row">
                
                <div class="topmenu-left col-md-5">
                 {% block topmenu_left %}
                   {% block search %}
                            {{ form_start(searchform, { 'attr': {'class': 'form-inline'} }) }}
                            {{ form_widget(searchform.column) }}
                            {{ form_widget(searchform.searchfield) }}
                            
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span> suchen
                            </button>
                            <a href="{{ path(path) }}"><input type="button" class="btn btn-default" value="Suche abbrechen" {% if  searchform.vars.submitted == false %}{{ 'disabled' }}{% endif %} ></a>
                            
                            {{ form_end(searchform) }}
                        {% endblock %}
                        {% endblock %}
                     
                </div>   
                        
                        
                     <div class="topmenu-right col-md-7">
                       {% block topmenu_right %}
                       
                        
                     
                        {% block dropdown %}{% endblock %}
                    
                    
                        {% block tabs %}{% endblock %}
                        
                        {% block add %}{% endblock %}
                    {% endblock %}
                
                </div>
            </div>
            {% endblock %}
     
     
     
             {% block table %}
                 <div class="row">
                     <div class="col-md-12">
                 {% if tabledata is empty %}
                 
                    <div class="alert alert-info">
                         Es konnten keine, mit ihrer Suchanfrage übereinstimmenden, Personen gefunden werden.
                    </div>
                     
                 {% else %}
              
            <table id="myTable" class="{% block color %} {{ colorclass }} {% endblock %}">
    
                <thead>
                    {% block thead %}{% endblock %}
                </thead>
        
                <tbody>
                    {% block tbody %}{% endblock %}     
                </tbody>
    
            </table>
                {% endif %}
             </div>
             </div>
       {% endblock %}
       
       
       
       
       
       {% block pagination %}
        <div class="row">
            <div class="col-md-12">
           <ul class="pagination">
  {% for letter in 'a'|upper..'z'|upper %}
  {% if letter == cletter %}
     
      <li class="active"><a href="{{ path(path, {'letter': letter, 'adminyear': adminyear}) }}">{{ letter }}</a></li>
      
      {% else %}
      <li><a href="{{ path(path, {'letter': letter, 'adminyear': adminyear}) }}">{{ letter }}</a></li>
  {% endif %}
  {% endfor %}
  <li class="active"><a href="{{ path(path, {'letter': cletter, 'adminyear': adminyear}) }}">{{ tabledata|length }} Person/en wurden gefunden</a></li>
</ul> 
        
            </div>

           
        </div>
        
       {% endblock %}
        </div>
            
        {% endblock %}
        
    </body>
    
</html>
