{% extends "basic.html.twig" %}




{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block javascriptsrc %} 
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/myfunctions.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row panel panel-default" >
   
        <div class="panel-heading">{% include 'form/requiredtext.html' %}</div>
            <div class="col-md-12 panel-body" >
        {{ form_start(form) }}
        {{ form_row(form.memid) }}
        {{ form_row(form.personaldata.title) }}
        {{ form_row(form.personaldata.firstname) }}
        {{ form_row(form.personaldata.lastname) }}
        {{ form_row(form.state) }}
        {{ form_row(form.sportsgroup) }}
        {{ form_row(form.admissioncharge) }}
        {{ form_row(form.admissionchargepayed) }}
        
        {% for md in form.monthlydues %}
            <div class="well">
                <legend>{{ md.vars.value.month }}</legend>
                
            {{ form_row(md.dues) }}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="duesopen">offen:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">€ </span>
                        {% set open=md.vars.value.dues - md.vars.value.duespayed %}
                        <input id="duesopen" class="form-control {% if open != 0 %}red{%endif%}" type="text" value="{{ open }}"  name="duesopen" disabled>
                    </div>
            
                </div>
            </div>
            
            {{ form_row(md.duespayed) }}
            </div>
            
        {% endfor %}
        
        {% for yi in form.yearinfo %}
        {{ form_row(yi.levy) }}
        {{ form_row(yi.additionalduesinfo) }}
        {% endfor %}
        
        
        {{ form_row(form.sportsgroup) }}
        {{ form_row(form.admissioncharge) }}
        {{ form_row(form.admissionchargepayed) }}
        {{ form_row(form._token) }}
       


   
  
             </div>
        </div>
        
        <div class="col-sm-10 col-sm-offset-2">
              <div class="form-group">
             
                 <button type="submit" name="save" class="btn btn-primary">speichern</button>
                 <button type="reset" name="reset" class="btn btn-warning"  onclick="confirmaction(event, 'Sind Sie sich sicher, dass Sie dieses Formular zurücksetzen möchten?')">Formular zurücksetzen</button>
                 {{ form_row(form._token) }}
             </div>
                  
              </div>
        {{ form_end(form, {'render_rest':false}) }}
    </div>   
    
    
    
{% endblock %}

