{% extends 'basic.html.twig' %}
{% form_theme searchform 'bootstrap_3_layout.html.twig' %}

{% block title %}Mitglieder - Finanzen{% endblock %}
{% block fixedcolnum %} 7 {% endblock %}
{% block viewlink %}{{ path('member_fin') }}{% endblock %}
{% block viewname %}Mitglieder - Finanzdaten - {{ year }}{% endblock %}
{% block MitglFinAktiv %} active {% endblock %}
{% block FinanzAktiv %} active {% endblock %}



{% block dropdown %}
    <div class="inline">
      <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Finanzjahr: {{ year }}
                    <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for loopyear in 2004.."now"|date("Y") %}
                           
                            
                                <li {% if loopyear == year %}class="active"{% endif %}><a href="#">{{ loopyear }}</a></li>
                            {% endfor %}
                        </ul>
                    </div> 
    </div>
    {% endblock %}

{% block tabs %}
  
    <div class="inline">
     <ul class="pagination-own pagination">
  <li {% if halfyear == 1 %} class="active" {% endif %}><a href="{{ path('member_fin', {'halfyear': 1, 'letter': cletter}|merge(app.request.query.all)) }}">1. Halbjahr</a></li>
  <li {% if halfyear == 2 %} class="active" {% endif %}><a href="{{ path('member_fin', {'halfyear': 2, 'letter': cletter}|merge(app.request.query.all)) }}">2. Halbjahr</a></li>
  
</ul>
    </div>
    {% endblock %}
    
{% block color %} {{ colorclass }} {% endblock %}



    

    {% block thead %}
        
        <th>Bearb.</th><th>M_Nr</th><th>Status</th><th>Anr.</th><th>Name</th><th>Vorname</th><th>Sportgruppen/n</th><th>Aufnahmegeb.</th><th>Aufnahmegeb. offen</th><th>Aufnahmegeb. gez.</th>
        {% if halfyear == 1 %}
         <th>Beitr. Jan.</th><th>Beitr. Jan. offen</th><th>Beitr. Jan. gez.</th><th>Beitr. Feb.</th><th>Beitr. Feb. offen</th><th>Beitr. Feb. gez.</th><th>Beitr. März</th><th>Beitr. März offen</th><th>Beitr. März gez.</th><th>Beitr. Apr.</th><th>Beitr. Apr. offen</th> 
        <th>Beitr. Apr. gez</th><th>Beitr. Mai</th><th>Beitr. Mai offen</th><th>Beitr. Mai gez.</th><th>Beitr. Juni</th><th>Beitr. Juni offen</th><th>Beitr. Juni gez.</th>
        
        {% else %}
      <th>Beitr. Juli</th><th>Beitr. Juli offen</th><th>Beitr. Juli gez.</th><th>Beitr. Aug.</th><th>Beitr. Aug. offen</th><th>Beitr. Aug. gez.</th><th>Beitr. Sep.</th><th>Beitr. Sep. offen</th><th>Beitr. Sep. gez.</th><th>Beitr. Okt.</th><th>Beitr. Okt. offen</th><th>Beitr. Okt. gez.</th><th>Beitr. Nov.</th><th>Beitr. Nov. offen</th><th>Beitr. Nov. gez.</th><th>Beitr. Dez.</th><th>Beitr. Dez. offen</th><th>Beitr. Dez. gez.</th>
        {% endif %}
    {% endblock %}
        
    
    
    
    
    {% block tbody %}
        {% for data in tabledata %}
            {% autoescape  %}
            <tr> 
                 {% if data.lastname|first == 'Ä' %}
                    {% set first = 'A' %}
                    {% elseif data.lastname|first == 'Ö' %}
                    {% set first = 'O' %}
                    {% elseif data.lastname|first == 'Ü' %}
                    {% set first = 'U' %}
                    {% else %}
                    {% set first = data.lastname|first %}   
                {% endif %}
                <td><center><a href="{{ path('editmemfin', {'letter': first|capitalize, 'ID': data.memid, 'year': year  }) }}"><button  class='btn btn-default btn-sm'  name='update'> <span class='glyphicon glyphicon-wrench'></span></button></center></a></td>
                <td>{{ data.memid }}</td>
{#                <td>
                    {% for Sec in data.section %}
                        {{ Sec.sectionname }}<br>
                        {% else  %}
                            {{ "-" }}
                    {% endfor %}</td>#}
                <td>{{ data.state == 1 ? "aktiv" : "inaktiv" }}</td>

                <td>{{ data.title == 1 ? "Frau" : "Herr" }}</td>
                <td>{{ data.lastname|striptags }}</td>
                <td>{{ data.firstname|striptags }}</td>
                
                 <td>{% for SG in data.sportsgroup %}                     
                     {{SG.sportsgroup.token }}({{SG.joined|date("Y-m-d") }}-{{ SG.resignedfrom is empty ? "AKTUELL" : SG.resignedfrom|date("Y-m-d") }})<br>
                {% else %}
                    {{ "-" }}
                {% endfor %}</td> 
               
                <td>{{ data.admissioncharge }}</td>
                {% set admissionchargeopen = data.admissioncharge - data.admissionchargepayed %}
                <td {% if admissionchargeopen != 0 %}class="red"{% endif %}>{{ admissionchargeopen }}</td>
                <td>{{ data.admissionchargepayed is empty ? 0 : data.admissionchargepayed  }}</td>
                
{#                {% for yearinfo in data.yearinfo %}
                <td>{{ yearinfo.additionalduesinfo is empty ? "-" : yearinfo.additionalduesinfo }}</td>
                <td>{{ yearinfo.levy is empty ? 0 : yearinfo.levy }}</td>
               {% endfor %}#}
               
               {% if halfyear == 1 %}
                   {% set months = [1, 2, 3, 4, 5, 6] %}
                   
                   {% else %}
                    {% set months = [7, 8, 9, 10, 11, 12] %}
               {% endif %}
               
{#                    {% for monthlydue in data.monthlydues %}
                        {% if monthlydue.month in months %}
                        {% set duesopen = monthlydue.dues - monthlydue.duespayed %}
                        <td>{{ monthlydue.dues }}</td>
                        <td {% if duesopen != 0 %}class="red"{% endif %}>{{ duesopen }}</td>
                        <td>{{ monthlydue.duespayed is empty ? 0 : monthlydue.duespayed }}</td>
                        {% endif %}
                    {% endfor %}#}

                    {% set duespayed = data.duespayed %}
                    
                    {% for month in months %}
                        
                            
                         
                     
                         {% set duefound = false %}
                         
                           {% set payeddues = '-' %}
                          {% set opendues = '-' %}
                          {% set due = '-' %}
                         
                        
                          
                         {% for due in data.due if due.paystart|date("m") <= month and due.payend|date("m") > month %}
                          
                                
                              {% set payeddues = 0 %}
                              
                              {% set due = due.due %}
                              {% set opendues = due %}
                             {% set duefound = true %}
                          
                         {% endfor %}
                            
                             
                         
                         
                         
                         
                         {% if duefound == true %}
                         {% for payeddue in duespayed if payeddue.month == month %}
                          
                                
                              {% set payeddues = payeddue.duespayed %}
                              
                              {% set opendues = pdd - pdp %}
                              
                         {% endfor %} 
                         {% endif %}

                         

                        
                        
                        
                        <td>{{ due }}</td>
                        <td {% if opendues != 0 %}class="red"{% endif %}>{{ opendues }}</td>
                        <td>{{ payeddues }}</td>
                        
                    {% endfor %}                    
                    
                
           {% endautoescape %} 
        {% endfor %}
            {% endblock %}
{% block pagination %}
    
    <div class="row">
            <div class="col-md-12">
           <ul class="pagination">
  {% for letter in 'a'|upper..'z'|upper %}
  {% if letter == cletter %}
     
      <li class="active"><a href="{{ path(path, {'letter': letter, 'year': year, 'halfyear': halfyear}) }}">{{ letter }}</a></li>
      
      {% else %}
      <li><a href="{{ path(path, {'letter': letter, 'year': year, 'halfyear': halfyear}) }}">{{ letter }}</a></li>
  {% endif %}
  {% endfor %}
  <li class="active"><a href="{{ path(path, {'letter': cletter, 'year': year, 'halfyear': halfyear}) }}">{{ tabledata|length }} Person/en wurden gefunden</a></li>
</ul> 
        
            </div>

           
        </div>
        </div>
    {% endblock %}