{% extends "basic.html.twig" %}
{% import 'form/macro.html.twig' as forms %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block javascriptsrc %} 
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/myfunctions.js') }}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">    
    <div class="row vert-offset-bottom-2">
           <div class="col-md-12">
         <div class="alert alert-info">
             <strong>{% include 'form/requiredtext.html' %}</strong>
            </div>
           </div>
        </div>
    {{form_start(form)}}
<div class="row">
    <div class="col-md-12">
    <legend><h2>Stammdaten</h2></legend>
               
        {% if (attribute(form, 'sgid') is defined) %}
           {{ form_row(form.memid) }}
        {% endif %}
        {{ form_row(form.name)}}  
        {{ form_row(form.day)}}  
        {{ form_row(form.time)}}  
        {{ form_row(form.info)}}  
        {{ form_row(form.capacity)}}
        {{ form_row(form.trainer)}}
        {{ form_row(form.substitute)}}
        {{ form_row(form.roomid)}}
        <legend><h2>BSSA-Zertifikat</h2></legend>   
        <div id="bc" data-prototype="{{ forms.bssaCollectionItem(form.bssacert.vars.prototype)|e }}">
        {% for bc in form.bssacert %}
            {{ forms.bssaCollectionItem(bc) }}
        {% endfor %}
        </div>
{#         <div class="form-group "><div class="col-sm-10 col-sm-push-2"><a href="#" class="btn-add" data-target="bc"><button class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>BSSA-Zertifikat hinzufügen</button></a></div></div>#}  
  </div> 
</div>
<div class="row vert-offset-top-1">
           <div class="col-md-12"> 
         <div class="form-group">
             <div class="col-sm-10 col-sm-push-2">
  {{ form_widget(form.save, {'attr': {'onclick': 'confirmaction(event, "Sie befinden sich im Verwaltungsjahr '~adminyear~'. Die zu speichernden Daten sind nur für dieses Jahr gültig. Wollen Sie diese Daten dennoch speichern?")'}}) }}
  {{ form_widget(form.reset, {'attr': {'onclick': 'confirmaction(event, "Sind Sie sich sicher, dass Sie dieses Formular zurücksetzen möchten?")'}}) }}

{% if (attribute(form, 'delete') is defined) %}
    {{ form_widget(form.delete, {'attr': {'onclick': 'confirmaction(event, "Sind Sie sich sicher, dass Sie diese Person aus ihrer Datenbank entfernen möchten?")'}}) }}
 
{% endif %}
  <a href="{{ path('memsportsgroup_home', {'letter': cletter, 'adminyear': adminyear}) }}">{{ form_widget(form.cancel, {'attr': {'onclick': 'confirmaction(event, "Sind Sie sich sicher, dass Sie diese Seite verlassen möchten? Ungespeicherte Daten werden dabei verloren gehen.")'}}) }}</a>
 
  {{ form_row(form._token) }}
             </div>
        </div>
           </div>
         </div>    
  {{ form_end(form, {'render_rest': false}) }}
{% endblock %}