{% extends "basic.html.twig" %}
{% form_theme searchform 'bootstrap_3_layout.html.twig' %}

{% block viewlink %}{{ path('sportsgroup_home') }}{% endblock %}
{% block title %} Sportgruppen {% endblock %}
{% block viewname %}Sportgruppen{% endblock %}
{% block SportgrAktiv %} active {% endblock %}
{% block fixedcolnum %} 4 {% endblock %}

{% block add %}
    <a href="{{ path('addsportsgroup', {'letter': cletter }) }}"><button    class="add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span> neue Sportgruppe anlegen
        </button></a>  
{% endblock %}

{% block color %} {{ colorclass }} {% endblock %}

{% block thead %}

{#<tr>
    <th colspan="4"></th>
    <th colspan="3" class="overhead">Mitglieder/Kurs-TN</th>
    <th colspan="2" class="overhead">Kapazität</th>
    <th colspan="2"></th>
    <th colspan="5" class="overhead">BSSA_Zertifizierung</th>
    <th colspan="4" class="overhead">Finanzen</th>
</tr>#}

<tr>
    <th>Sportgruppe/Info</th>
    <th>Uhrzeit</th>
    <th>Räumlichkeit</th>
    <th>Gruppenbezeichnung</th>
    <th  class="overhead1"><font color=""> Mitglieder/Kurs-TN</font></th>
    <th class="overhead1">gesamt</th>
    <th class="overhead1">weiblich</th>
    <th class="overhead1">männlich</th>
    <th class="overhead2"> <font color="">Kapazität</font></th>
    <th class="overhead2">gesamt</th>
    <th class="overhead2">offen</th>
    <th>Voranmeldungen</th>
    <th>Vetretungsmöglichkeiten</th>
    <th class="overhead1">BSSA_Zertifizierung</th>
    <th class="overhead1">Laufzeit bis</th>
    <th class="overhead1">Erstanmeldung</th>
    <th class="overhead1">Letzte Änderung</th>
    <th class="overhead1">VGBS-GruppenNr.</th>
    <th class="overhead1">BSSA-Zertifikatnr.</th>
    <th class="overhead2">Finanzen</th>
    <th class="overhead2">Einnahmen gesamt/Monat</th>
    <th class="overhead2">Anzahl RS</th>
    <th class="overhead2">ÜL-Kosten + Halle</th>
    <th class="overhead2">Saldo</th>
</tr>    
    
{% endblock %}
 
{% block tbody %}
    {% for data in tabledata %}
        {% autoescape  %}
        <tr>
        <td>{{ data.name|striptags }}</td> 
         <td>{{ data.roomid|striptags }}</td>
        <td>{{ data.roomid|striptags }}</td> 
        <td>{{ data.token|striptags }}</td> 
        <td bgcolor="#00cc99"></td>
        <td>{{ data.trainerid|striptags }}</td>
        <td>{{ data.trainerid|striptags }}</td> 
        <td>{{ data.trainerid|striptags }}</td> 
        <td bgcolor="#e69900"></td>
        <td>{{ data.trainerid|striptags }}</td> 
        <td>{{ data.trainerid|striptags }}</td> 
       
        <td>{{ data.trainerid|striptags }}</td>
        {% if sportsgroupdependentlist[data.sgid]['terminationdate'] is defined %}
        {% set terminationdate =sportsgroupdependentlist[data[0].sgid]['terminationdate'] %}
        {% else %}
          {% set terminationdate ='' %}  
        {% endif %}
        <td>{% for TD in terminationdate if date(TD.terminationdate) > date() %}                     
                {{'TD'}}{{loop.index}}-<strong>{{TD.terminationdate|date("d.m.Y") }}</strong>-{{TD.terminationdate }}<br>
            {% else %}
                {{ "-" }}
            {% endfor %}
        </td>
         <td bgcolor="#00cc99"></td>
        <td>{{ data.trainerid|striptags }}</td> 
        <td>{{ data.trainerid|striptags }}</td> 
        <td>{{ data.trainerid|striptags }}</td> 
        <td>{{ data.trainerid|striptags }}</td>
        <td>{{ data.trainerid|striptags }}</td> 
        <td bgcolor="#e69900"></td>
        <td>{{ data.trainerid|striptags }}</td> 
        <td>{{ data.trainerid|striptags }}</td> 
        <td>{{ data.trainerid|striptags }}</td>
        <td>{{ data.trainerid|striptags }}</td> 
        
        

        
        {% endautoescape %}
    {% endfor %}    
{% endblock %}