{% extends "basic.html.twig" %}
{% form_theme searchform 'bootstrap_3_layout.html.twig' %}

{% block viewlink %}{{ path('sportsgroup_home') }}{% endblock %}
{% block title %} Sportgruppen {% endblock %}
{% block viewname %}Sportgruppen{% endblock %}
{% block SportgrAktiv %} active {% endblock %}
{% block fixedcolnum %} 6 {% endblock %}

{% block add %}
    <a href="{{ path('addsportsgroup', {'letter': cletter }) }}"><button    class="add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span> neue Sportgruppe anlegen
        </button></a>  
{% endblock %}

{% block color %} {{ colorclass }} {% endblock %}

{% block thead %}

{#<tr>
    <th colspan="4"></th>
    <th colspan="3" class="overhead">Mitglieder/Kurs-TN</th>
    <th colspan="2" class="overhead">Kapazität</th>
    <th colspan="2"></th>
    <th colspan="5" class="overhead">BSSA_Zertifizierung</th>
    <th colspan="4" class="overhead">Finanzen</th>
</tr>#}

<tr>
   <th>SGID</th>
    <th>Sportgruppe</th>
    <th>Info</th>
    <th>Uhrzeit</th>
    <th>Räumlichkeit</th>
    <th>Gruppenbezeichnung</th>
    <th>Voranmeldungen</th>
    <th>Name ÜL</th>
    <th>Vetretungsmöglichkeit</th>
    <th  class="overhead1"><font color=""> Mitglieder/Kurs-TN</font></th>
    <th class="overhead1">gesamt</th>
    <th class="overhead1">weiblich</th>
    <th class="overhead1">männlich</th>
    <th class="overhead2"> <font color="">Kapazität</font></th>
    <th class="overhead2">gesamt</th>
    <th class="overhead2">offen</th>
    
    <th class="overhead1">BSSA_Zertifizierung</th>
    <th class="overhead1">Laufzeit bis</th>
    <th class="overhead1">Erstanmeldung</th>
    <th class="overhead1">Letzte Änderung</th>
    <th class="overhead1">VGBS-GruppenNr.</th>
    <th class="overhead1">BSSA-Zertifikatnr.</th>
    <th class="overhead2">Finanzen</th>
    <th class="overhead2">Einnahmen gesamt/Monat</th>
    <th class="overhead2">Anzahl RS</th>
    <th class="overhead2">ÜL-Kosten + Halle</th>
    <th class="overhead2">Saldo</th>
</tr>    
    
{% endblock %}
 
{% block tbody %}
    {% for data in tabledata %}
        {% autoescape  %}
        <tr>
        <td>{{ data.sgid|striptags }}</td>    
        <td>{{ data.name|striptags }}</td>
        <td>{{ data.info|striptags }}</td> 
        <td>{{ data.time|date("h:i") }}</td>
        <td>{{ data.roomid|striptags }}</td> 
        <td>{{ data.token|striptags }}</td>
        <td>{{ data.sgid|striptags }}</td>
        <td>{% if data.trainerid is empty %}
            {{ "-" }}
            {% else  %}
                {% for trainerid in data.trainerid %}
                {{ trainerid.FirstName }}<br>
            {% endfor %}
            {% endif %}</td>
        <td></td>
        <td bgcolor="#5fa8ec"></td>
        <td>{{ data.sgid|striptags }}</td>
        <td>{{ data.sgid|striptags }}</td> 
        <td>{{ data.sgid|striptags }}</td>         
        <td bgcolor="#A9D0F5"></td>        
        <td>{{ data.sgid|striptags }}</td> 
        <td>{{ data.sgid|striptags }}</td>        
        
        <td bgcolor="#5fa8ec"></td>
        {% if sportsgroupdependentlist[data.sgid]['terminationdate'] is defined %}
        {% set terminationdate =sportsgroupdependentlist[data.sgid]['terminationdate'] %}
        {% else %}
          {% set terminationdate ='' %}  
        {% endif %}
        <td>{% for TD in terminationdate if date(TD.terminationdate) > date() %}                     
                {{'TD'}}{{loop.index}}-<strong>{{TD.terminationdate|date("d.m.Y") }}</strong>-{{TD.terminationdate }}<br>
            {% else %}
                {{ "-" }}</td>
            {% endfor %} 
           
        {% if sportsgroupdependentlist[data.sgid]['startdate'] is defined %}
            {% set startdate =sportsgroupdependentlist[data.sgid]['startdate'] %}
        {% else %}
          {% set startdate ='' %}  
        {% endif %}
        <td>{% for SD in startdate if date(SD.startdate) > date() %}                     
                {{'TD'}}{{loop.index}}-<strong>{{SD.startdate|date("d.m.Y") }}</strong>-{{SD.startdate }}<br>
            {% else %}
                {{ "-" }}</td>
            {% endfor %} 
           
        {% if sportsgroupdependentlist[data.sgid]['recorded'] is defined %}
            {% set recorded =sportsgroupdependentlist[data.sgid]['recorded'] %}
        {% else %}
          {% set recorded ='' %}  
        {% endif %}
        <td>{% for RE in recorded if date(RE.recorded) > date() %}                     
                {{'TD'}}{{loop.index}}-<strong>{{RE.recorded|date("d.m.Y") }}</strong>-{{RE.recorded }}<br>
            {% else %}
                {{ "-" }}</td>
            {% endfor %}  
           
        {% if sportsgroupdependentlist[data.sgid]['groupnr'] is defined %}
            {% set groupnr =sportsgroupdependentlist[data.sgid]['groupnr'] %}
        {% else %}
          {% set groupnr ='' %}  
        {% endif %}
        <td>{% for GN in groupnr if date(TD.groupnr) > date() %}                     
                {{'TD'}}{{loop.index}}-<strong>{{TD.groupnr }}</strong>-{{TD.groupnr }}<br>
            {% else %}
                {{ "-" }}</td>
            {% endfor %}  
            
        {% if sportsgroupdependentlist[data.sgid]['bssacertnr'] is defined %}
            {% set bssacertnr =sportsgroupdependentlist[data.sgid]['bssacertnr'] %}
        {% else %}
          {% set bssacertnr ='' %}  
        {% endif %}
        <td>{% for TD in bssacertnr if date(TD.bssacertnr) > date() %}                     
                {{'TD'}}{{loop.index}}-<strong>{{TD.bssacertnr }}</strong>-{{TD.bssacertnr }}<br>
            {% else %}
                {{ "-" }}</td>
            {% endfor %} 
        {#<td>{{ data.bssaid.StartDate|striptags }}</td> 
        <td>{{ data.bssaid.Recorded|striptags }}</td> 
        <td>{{ data.bssaid.GroupNr|striptags }}</td>
        <td>{{ data.bssaid.BSSACertNr|striptags }}</td> #}
        
            
        <td bgcolor="#A9D0F5"></td>
        <td>{{ data.sgid|striptags }}</td> 
        <td>{{ data.sgid|striptags }}</td> 
        <td>{{ data.sgid|striptags }}</td>
        <td>{{ data.sgid|striptags }}</td> 
        
        

        
        {% endautoescape %}
    {% endfor %}    
{% endblock %}
    
 {% block pagination %}
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    
                <li {% if cletter == null %}class="active"{% endif %}><a href="{{ path(path, {'all': 'alle'}) }}">ALLE</a></li>   
                
                {% for letter in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
                    
                    {% if letter == cletter %}     
                    <li class="active"><a href="{{ path(path, {'letter': letter}) }}">{{ letter }}</a></li>      
                    {% else %}
                    <li><a href="{{ path(path, {'letter': letter}) }}">{{ letter }}</a></li>                    
                    {% endif %}
                    
                {% endfor %}
                
                <li class="active"><a href="{{ path(path, {'letter': cletter}) }}">{{ tabledata|length }} Personen wurden gefunden</a></li>
                </ul>         
            </div>           
        </div>        
    {% endblock %}    