{% extends "basic.html.twig" %}
{% form_theme searchform 'bootstrap_3_layout.html.twig' %}

{% block viewlink %}{{ path('nonmember_home') }}{% endblock %}
{% block title %} Nichtmitglieder {% endblock %}
{% block viewname %}Nichtmitglieder{% endblock %}
{% block NMitglAktiv %} active {% endblock %}
{% block fixedcolnum %} 7 {% endblock %}
{% block columnDefs %}
            "columnDefs": [
     { "width": "12%", "targets": 13 },
    { "width": "11%", "targets": 15 },
    { "width": "11%", "targets": 16 }
        ]
            {% endblock%} 


{% block add %}
    <a href="{{ path('addnonmem', {'letter': cletter}) }}"><button    class="add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span> Neues Nichtmitglied anlegen
        </button></a>  
{% endblock %}


{% block color %} {{ colorclass }} {% endblock %}

{% block thead %}       
            
<th>Bearb.</th>
<th>Nmtgl.<br>Nr</th>
<th>Status</th>
<th>Anr.</th>
<th>Name</th>
<th>Vorname</th>
<th>Geb.Datum</th>
<th>Ort</th>
<th>Strasse, Hausnr</th>
<th>PLZ</th>
<th>Postfach</th>
<th>Telefon</th>
<th>E-Mail</th>
<th>Sportgruppe</th>
<th>Trainingsbeginn</th>
<th>Teilnahmebeginnbest.</th>
<th>Rehaschein/e<br> (RSNr.-Ablaufd.-Einheiten)</th>
<th>abgelaufene Rehaschein/e</th>
<th>Krankenkasse</th>
<th>Zusatzinfo</th> 
<th>Arbeitsplatzhaltung</th>
<th>chron. Berufserkr.</th>
<th>Schmerzen in HWS</th>
<th>Schmerzen in BWS</th>
<th>Schmerzen in LWS</th>
<th>obere Extremitäten</th>
<th>untere Extremitäten</th>
<th>sonst. Beeinträchtigungen</th>
<th>Medikamente</th>
<th>weit. bewegl. Aktivitäten</th>
<th>Hf-Ruhe/Min</th>
<th>Hf-Max/Min</th>
<th>Hf bei 50%</th>
<th>Hf bei 55%</th>
<th>Hf bei 60%</th>
<th>Hf bei 65%</th>
<th>Hf bei 70%</th>
<th>Hf bei 75%</th>
<th>Hf bei 80%</th>
<th>Hf bei 85%</th>
        
{% endblock %}

{% block tbody %}
        {% for data in tabledata %}
            {% autoescape  %}
            <tr>
                 {% if data.lastname|first == 'Ä' %}
                    {% set first = 'A' %}
                    {% elseif data.lastname|first == 'Ö' %}
                    {% set first = 'O' %}
                    {% elseif data.lastname|first == 'Ü' %}
                    {% set first = 'U' %}
                    {% else %}
                    {% set first = data.lastname|first %}   
                {% endif %}
            <td><center><a href="{{ path('editnonmem', {'letter': first|capitalize, 'ID': data.nmemid }) }}"><button  class='btn btn-default btn-sm'  name='update'> <span class='glyphicon glyphicon-wrench'></span></button></center></a></td>
            <td>{{ data.nmemid }}</td>
            {#<td>{% for Sec in data.section %}
                        {{ Sec.sectionname }}<br>
                        {% else  %}
                        {{ "-" }}
                    {% endfor %}</td>#}
            {% if data.state == 0 %}
                <td>{{ 'Aktiv' }}</td>
            {% else %}   
                <td>{{ 'Inaktiv' }}</td>
            {%endif%}
            
            {% if data.title == 0 %}
                <td>{{ 'Frau' }}</td>
            {% else %}   
                <td>{{ 'Herr' }}</td>
            {%endif%}
            
            <td>{{ data.lastname|striptags }}</td>
            <td>{{ data.firstname|striptags }}</td>
            <td>{{ data.birthday|date("d.m.Y") }}</td>
            <td>{{ data.location|striptags }}</td>
            <td>{{ data.streetaddress|striptags }}</td>
            <td>{{ data.postcode|striptags }}</td>
            <td>{{ data.mailbox is empty ? "-" : data.mailbox|striptags }}</td>
            {% if nonmemberdependentlist[data.nmemid]['phonenumbers'] is defined %}
                {% set pns =nonmemberdependentlist[data.nmemid]['phonenumbers'] %}
                {% else %}
                  {% set pns ='' %}  
                {% endif %}
                <td>{% for PN in pns %}
                        {{ PN.phonenumber }}<br>
                        {% else  %}
                        {{ "-" }}    
                    {% endfor %}</td>
    
            <td>{{ data.email is empty ? "-" : data.email|striptags }}</td>   
            
                 <td>{% for SG in data.sportsgroup %}                     
                     {{SG.sportsgroup.token }}({{SG.joined|date("Y-m-d") }}-{{ SG.resignedfrom is empty ? "AKTUELL" : SG.resignedfrom|date("Y-m-d") }})<br>
                {% else %}
                    {{ "-" }}
                {% endfor %}</td>  
            
            <td>{{ data.trainingstartdate|date("d.m.Y") }}</td>
            <td>{{ data.trainingconfirmation is empty ? "-" : data.trainingconfirmation|date("d.m.Y")}}</td>
             

                 {% if nonmemberdependentlist[data.nmemid]['validrehabcerts'] is defined %}
                {% set validrehab =nonmemberdependentlist[data.nmemid]['validrehabcerts'] %}
                {% else %}
                  {% set validrehab ='' %}  
                {% endif %}

                
                {% if nonmemberdependentlist[data.nmemid]['expiredrehabcerts'] is defined %}
                {% set expiredrehab =nonmemberdependentlist[data.nmemid]['expiredrehabcerts'] %}
                {% else %}
                  {% set expiredrehab ='' %}  
                {% endif %}
                



                <td>
                            
                {% for RC in validrehab  %}


              <div class="{% if date(RC.terminationdate)|date("Y-m-d") < "now"|date_modify("+2 months")|date("Y-m-d") %}red {% endif %}
                   {% if ("now"|date("Y") == RC.terminationdate|date("Y") and "now"|date("Y-m-d") < RC.terminationdate|date("Y.m.d")) %}yellowbackground{% endif %}">
                  {{'RS'}}{{loop.index}}-<strong>{{RC.terminationdate|date("d.m.Y") }}</strong>-{{RC.rehabunits }}</div>

                    
                    
                         {% else %}
                         {{ "-" }}
                    {% endfor %}
                   </td>
                    
                    
                  <td>{% for RC in expiredrehab  %}
                          
                        
                    {{'RS'}}{{loop.index}}-<strong>{{RC.terminationdate|date("d.m.Y") }}</strong>-{{RC.rehabunits }}<br>
                        
                         {% else %}
                         {{ "-" }}
                    {% endfor %}
                   </td>
                

                      
            
  
   
            <td>{{ data.healthinsurance is empty ? "-" : data.healthinsurance|striptags }}</td>
            <td>{{ data.additionalinfo is empty ? "-" : data.additionalinfo|striptags }}</td>
            <td>{{ data.workplaceposture is empty ? "-" : data.workplaceposture|striptags }}</td>
            <td>{{ data.chronoccupationaldis is empty ? "-" : data.chronoccupationaldis|striptags }}</td>
            <td>{{ data.paincervicalspine is empty ? "-" : data.paincervicalspine|striptags }}</td>
            <td>{{ data.painthoracicspine is empty ? "-" : data.painthoracicspine|striptags }}</td>
            <td>{{ data.painlumbarspine is empty ? "-" : data.painlumbarspine|striptags }}</td>
            <td>{{ data.upperlimbs is empty ? "-" : data.upperlimbs|striptags }}</td>
            <td>{{ data.lowerlimbs is empty ? "-" : data.lowerlimbs|striptags }}</td>
            <td>{{ data.otherimpairments is empty ? "-" : data.otherimpairments|striptags }}</td>
            <td>{{ data.medication is empty ? "-" : data.medication|striptags }}</td>
            <td>{{ data.additionalagilactivities is empty ? "-" : data.additionalagilactivities|striptags }}</td>
            <td>{{ data.pulseatrest is empty ? "-" : data.pulseatrest|striptags }}</td>
           
            {% if data.pulseatrest is not empty %}
                {% set hfmax = 220 - data.birthday|age  %}
                {% set hfres = hfmax - data.pulseatrest  %}
                {% set hfbei50 = data.pulseatrest+(0.5*hfres)|round  %}
                {% set hfbei55 = data.pulseatrest+(0.55*hfres)|round  %}
                {% set hfbei60 = data.pulseatrest+(0.6*hfres)|round  %}
                {% set hfbei65 = data.pulseatrest+(0.65*hfres)|round  %}
                {% set hfbei70 = data.pulseatrest+(0.7*hfres)|round  %}
                {% set hfbei75 = data.pulseatrest+(0.75*hfres)|round  %}
                {% set hfbei80 = data.pulseatrest+(0.8*hfres)|round  %}
                {% set hfbei85 = data.pulseatrest+(0.85*hfres)|round  %}
                {% else %}
                {% set hfmax = "-"  %}
                {% set hfbei50 = "-"  %}
                {% set hfbei55 = "-"  %}
                {% set hfbei60 = "-"  %}
                {% set hfbei65 = "-"  %}
                {% set hfbei70 = "-"  %}
                {% set hfbei75 = "-"  %}
                {% set hfbei80 = "-"  %}
                {% set hfbei85 = "-"  %}
                {% endif %}
                 <td>{{ hfmax }}</td>
                 <td>{{ hfbei50 }}</td>
                 <td>{{ hfbei55 }}</td>
                 <td>{{ hfbei60 }}</td>
                 <td>{{ hfbei65 }}</td>
                 <td>{{ hfbei70 }}</td>
                 <td>{{ hfbei75 }}</td>
                 <td>{{ hfbei80 }}</td>
                 <td>{{ hfbei85 }}</td>
            
            {% endautoescape %} 
        {% endfor %}
{% endblock %}