{% extends "basic.html.twig" %}
{% import 'form/macro.html.twig' as forms %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block javascriptsrc %} 
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/myfunctions.js') }}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="well"><h3>Bitte füllen Sie alle, mit einem <red>*</red> markierten, Felder aus.</h3></div>
    </div>
{{form_start(form)}}
<div class="row panel panel-default" >
    <div class="stammheading panel-heading"><h2>Stammdaten</h2></div>
    <div class="col-lg-12 panel-body">
        {% if (attribute(form, 'nmemid') is defined) %}
           {{ form_row(form.nmemid) }}
       {% endif %}
        {{ form_row(form.title) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.streetaddress) }}
        {{ form_row(form.postcode) }}
        {{ form_row(form.mailbox) }}
        {{ form_row(form.location) }}
        {% for pn in form.phonenumber %}
            {{ form_row(pn.phonenumber) }}
        {% endfor %}
        {{ form_row(form.email) }}
        {{ form_row(form.trainingstartdate) }}
        {{ form_row(form.trainingconfirmation) }}
        {{ form_row(form.state) }}
        {{ form_row(form.sportsgroup) }}
    </div>
</div>
        
<div class="row panel panel-default" >
    <div class="gesundhheading panel-heading"><h2>Gesundheitsdaten</h2></div>
    <div class="col-lg-12 panel-body">
        <div class="rehab" data-prototype="{{ forms.rehabCollectionItem(form.rehabilitationcertificate.vars.prototype)|e }}">
            {% for rc in form.rehabilitationcertificate %}
                {{ forms.rehabCollectionItem(rc) }}
            {% endfor %}
        </div>
        {{ form_row(form.settlementdate1) }}
        
        {{ form_row(form.settlementdate2) }}
        
        {{ form_row(form.healthinsurance) }}

        {{ form_row(form.additionalinfo) }}     

        {{ form_row(form.workplaceposture) }}

        {{ form_row(form.chronoccupationaldis) }}

        {{ form_row(form.paincervicalspine) }}

        {{ form_row(form.painthoracicspine) }}

        {{ form_row(form.painlumbarspine) }}

        {{ form_row(form.upperlimbs) }}

        {{ form_row(form.lowerlimbs) }}

        {{ form_row(form.otherimpairments) }}

        {{ form_row(form.medication) }}

        {{ form_row(form.additionalagilactivities) }}       

        {{ form_row(form.pulseatrest) }}
    </div>
</div>   
    
<div class="form-group">
    <div class="col-sm-10 col-sm-push-2">
        {{ form_widget(form.save) }}
        {{ form_widget(form.reset, {'attr': {'onclick': 'confirmaction(event, "Sind Sie sich sicher, dass Sie dieses Formular zurücksetzen möchten?.")'}}) }}

        {% if (attribute(form, 'delete') is defined) %}
            {{ form_widget(form.delete, {'attr': {'onclick': 'confirmaction(event, "Sind Sie sich sicher, dass Sie diese Person aus ihrer Datenbank entfernen möchten?")'}}) }}
        {% endif %}
        <a href="{{ path('member_home', {'letter': cletter}) }}">{{ form_widget(form.cancel, {'attr': {'onclick': 'confirmaction(event, "Sind Sie sich sicher, dass Sie diese Seite verlassen möchten? Ungespeicherte Daten werden dabei verloren gehen.")'}}) }}</a>

        {{ form_row(form._token) }}
    </div>
</div>
</div> 
{% endblock %}