{% extends "basic.html.twig" %}
{% form_theme searchform 'bootstrap_3_layout.html.twig' %}

{% block viewlink %}{{ path('nonmember_home') }}{% endblock %}
{% block title %} Nichtmitglieder {% endblock %}
{% block viewname %}Nichtmitglieder{% endblock %}
{% block NMitglAktiv %} active {% endblock %}
{% block fixedcolnum %} 7 {% endblock %}
{% block columnDefs %}
            "columnDefs": [
            {"width" : "10%", "targets": 17},
            {"width" : "6%", "targets": 12}
        ]
            {% endblock%} 


{% block add %}
    <a href="{{ path('addnonmem', {'letter': cletter }) }}"><button    class="add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span> neues Nichtmitglied anlegen
        </button></a>  
{% endblock %}


{% block color %} {{ colorclass }} {% endblock %}

{% block thead %}       
            
<th>Bearb.</th>
<th>Nmtgl.<br>Nr</th>
<th>Status</th>
<th>Anr.</th>
<th>Name</th>
<th>Vorname</th>
<th>Geb.Datum</th>
<th>Ort</th>
<th>Strasse, Hausnr</th>
<th>PLZ</th>
<th>Postfach</th>
<th>Telefon</th>
<th>E-Mail</th>
{#<th>Sportgruppe</th>#}
<th>Trainingsbeginn</th>
<th>Teilnahmebeginnbest.</th>
<th>RS-Nr.-Ablaufd.-Einheiten</th>
<th>abgelaufene Rehaschein/e</th>
<th>Krankenkasse</th>
<th>Zusatzinfo</th> 
<th>Arbeitsplatzhaltung</th>
<th>chron. Berufserkr.</th>
<th>Schmerzen in HWS</th>
<th>Schmerzen in BWS</th>
<th>Schmerzen in LWS</th>
<th>obere Extremitäten</th>
<th>untere Extremitäten</th>
<th>sonst. Beeinträchtigungen</th>
<th>Medikamente</th>
<th>weit. bewegl. Aktivitäten</th>
<th>Hf-Ruhe/Min</th>
<th>Hf-Max/Min</th>
<th>Hf bei 50%</th>
<th>Hf bei 55%</th>
<th>Hf bei 60%</th>
<th>Hf bei 65%</th>
<th>Hf bei 70%</th>
<th>Hf bei 75%</th>
<th>Hf bei 80%</th>
<th>Hf bei 85%</th>
        
{% endblock %}

{% block tbody %}
        {% for data in tabledata %}
            {% autoescape  %}
            <tr>
                 {% if data[0].lastname|first == 'Ä' %}
                    {% set first = 'A' %}
                    {% elseif data[0].lastname|first == 'Ö' %}
                    {% set first = 'O' %}
                    {% elseif data[0].lastname|first == 'Ü' %}
                    {% set first = 'U' %}
                    {% else %}
                    {% set first = data[0].lastname|first %}   
                {% endif %}
            <td><center><a href="{{ path('editnonmem', {'letter': first|capitalize, 'ID': data[0].nmemid, 'adminyear': adminyear }) }}"><button  class='btn btn-default btn-sm'  name='update'> <span class='glyphicon glyphicon-wrench'></span></button></center></a></td>
            <td>{{ data[0].nmemid }}</td>
            {#<td>{% for Sec in data.section %}
                        {{ Sec.sectionname }}<br>
                        {% else  %}
                        {{ "-" }}
                    {% endfor %}</td>#}
            <td>{{ data[0].state|striptags }}</td>
            <td>{{ data[0].title|striptags }}</td>
            <td>{{ data[0].lastname|striptags }}</td>
            <td>{{ data[0].firstname|striptags }}</td>
            <td>{{ data[0].birthday|date("d.m.Y") }}</td>
            <td>{{ data[0].location|striptags }}</td>
            <td>{{ data[0].streetaddress|striptags }}</td>
            <td>{{ data[0].postcode|striptags }}</td>
            <td>{{ data[0].mailbox is empty ? "-" : data[0].mailbox|striptags }}</td>
            {% if nonmemberdependentlist[data[0].nmemid]['phonenumbers'] is defined %}
                {% set pns =nonmemberdependentlist[data[0].nmemid]['phonenumbers'] %}
                {% else %}
                  {% set pns ='' %}  
                {% endif %}
                <td>{% for PN in pns %}
                        {{ PN[0].phonenumber }}<br>
                        {% else  %}
                        {{ "-" }}    
                    {% endfor %}</td>
    
            <td>{{ data[0].email is empty ? "-" : data[0].email|striptags }}</td>   
           {# <td>{% if data[0].sportsgroup is empty %}
                    {{ "-" }}
                    {% else  %}
                        {% for sportsgroup in data[0].sportsgroup %}
                       {{ sportsgroup.Token }}<br>
                    {% endfor %}
                    {% endif %}</td>#} 
            <td>{{ data[0].trainingstartdate|date("d.m.Y") }}</td>
            <td>{{ data[0].trainingconfirmation is empty ? "-" : data[0].trainingconfirmation|date("d.m.Y")}}</td>
             
            
                {% if onmemberdependentlist[data[0].nmemid]['rehabcerts'] is defined %}
                {% set rehab =nonmemberdependentlist[data[0].nmemid]['rehabcerts'] %}
                {% else %}
                  {% set rehab ='' %}  
                {% endif %}                      
            <td>{% for RC in rehab if date(RC[0].terminationdate) > date() %}
                {{'RS'}}{{loop.index}}-<strong>{{RC[0].terminationdate|date("d.m.Y") }}</strong>-{{RC[0].rehabunits }}<br>
                        {% else %}
                         {{ "-" }}
                    {% endfor %}
            </td>
            <td>{% for RC in rehab if date(RC[0].terminationdate) < date() %}                  
                        
                    {{'RS'}}{{loop.index}}-<strong>{{RC[0].terminationdate|date("d.m.Y") }}</strong>-{{RC[0].rehabunits }}<br>
                        
                         {% else %}
                         {{ "-" }}
                    {% endfor %}
            </td>  
   
            <td>{{ data[0].healthinsurance is empty ? "-" : data.healthinsurance|striptags }}</td>
            <td>{{ data[0].additionalinfo is empty ? "-" : data.additionalinfo|striptags }}</td>
            <td>{{ data[0].workplaceposture is empty ? "-" : data.workplaceposture|striptags }}</td>
            <td>{{ data[0].chronoccupationaldis is empty ? "-" : data.chronoccupationaldis|striptags }}</td>
            <td>{{ data[0].paincervicalspine is empty ? "-" : data.paincervicalspine|striptags }}</td>
            <td>{{ data[0].painthoracicspine is empty ? "-" : data.painthoracicspine|striptags }}</td>
            <td>{{ data[0].painlumbarspine is empty ? "-" : data.painlumbarspine|striptags }}</td>
            <td>{{ data[0].upperlimbs is empty ? "-" : data.upperlimbs|striptags }}</td>
            <td>{{ data[0].lowerlimbs is empty ? "-" : data.lowerlimbs|striptags }}</td>
            <td>{{ data[0].otherimpairments is empty ? "-" : data.otherimpairments|striptags }}</td>
            <td>{{ data[0].medication is empty ? "-" : data.medication|striptags }}</td>
            <td>{{ data[0].additionalagilactivities is empty ? "-" : data.additionalagilactivities|striptags }}</td>
            <td>{{ data[0].pulseatrest is empty ? "-" : data.pulseatrest|striptags }}</td>
           
            {% if data[0].pulseatrest is not empty %}
                {% set hfmax = 220 - data[0].birthday|age  %}
                {% set hfres = hfmax - data[0].pulseatrest  %}
                {% set hfbei50 = data[0].pulseatrest+(0.5*hfres)|round  %}
                {% set hfbei55 = data[0].pulseatrest+(0.55*hfres)|round  %}
                {% set hfbei60 = data[0].pulseatrest+(0.6*hfres)|round  %}
                {% set hfbei65 = data[0].pulseatrest+(0.65*hfres)|round  %}
                {% set hfbei70 = data[0].pulseatrest+(0.7*hfres)|round  %}
                {% set hfbei75 = data[0].pulseatrest+(0.75*hfres)|round  %}
                {% set hfbei80 = data[0].pulseatrest+(0.8*hfres)|round  %}
                {% set hfbei85 = data[0].pulseatrest+(0.85*hfres)|round  %}
                {% else %}
                {% set hfmax = "-"  %}
                {% set hfbei50 = "-"  %}
                {% set hfbei55 = "-"  %}
                {% set hfbei60 = "-"  %}
                {% set hfbei65 = "-"  %}
                {% set hfbei70 = "-"  %}
                {% set hfbei75 = "-"  %}
                {% set hfbei80 = "-"  %}
                {% set hfbei85 = "-"  %}
                {% endif %}
                 <td>{{ hfmax }}</td>
                 <td>{{ hfbei50 }}</td>
                 <td>{{ hfbei55 }}</td>
                 <td>{{ hfbei60 }}</td>
                 <td>{{ hfbei65 }}</td>
                 <td>{{ hfbei70 }}</td>
                 <td>{{ hfbei75 }}</td>
                 <td>{{ hfbei80 }}</td>
                 <td>{{ hfbei85 }}</td>
            
            {% endautoescape %} 
        {% endfor %}
{% endblock %}