

{% extends 'basic.html.twig' %}
{% form_theme searchform 'bootstrap_3_layout.html.twig' %}
{% block columndefs %}
     "columnDefs": [
    { "width": "11%", "targets": 15 }
  ]  
{% endblock %}
{% block viewlink %}{{ path('trainer_home') }}{% endblock %}
{% block title %} Übungsleiter {% endblock %}
{% block viewname %}Übungsleiter{% endblock %}
{% block TrainerAktiv %} active {% endblock %}
{% block fixedcolnum %} 6 {% endblock %}




{% block add %}
    <div class="inline">
    <a href="{{ path('addtrainer', {'letter': cletter , 'adminyear': adminyear}) }}"><button    class="add btn btn-default">
    <span class="glyphicon glyphicon-plus"></span> neuen Übungsleiter anlegen </button></a>  
    </div>  
{% endblock %}

{% block color %} {{colorclass}} {% endblock %}

{% block thead %}
    
    <th>Bearb.</th>
    <th>Trainer Nr.</th>
    <th>Anr.</th>
    <th>Name</th>
    <th>Vorname</th>
    <th>Status</th>
    <th>Geb.Datum</th>
    <th>Ort</th>
    <th>Straße, Hausnr.</th>
    <th>PLZ</th>
    <th>Telefon</th>
    <th>E-Mail</th>
    <th>Postfach</th>
    <th>Art</th>
    <th>Nichtmitglieder <br> Sportgruppe/n</th>
    <th>Schwerpunkt</th>
    <th>Lizenz</th>
    <th>Lizenz-Nr.</th>
    <th>ausgestellt</th>
    <th>gültig bis</th>    
    
{% endblock %}

{% block tbody %}
        {% for data in tabledata %}
            {% autoescape  %}
            <tr>
                 {% if data.lastname|first == 'Ä' %}
                    {% set first = 'A' %}
                    {% elseif data.lastname|first == 'Ö' %}
                    {% set first = 'O' %}
                    {% elseif data.lastname|first == 'Ü' %}
                    {% set first = 'U' %}
                    {% else %}
                    {% set first = data.lastname|first %}   
                {% endif %}
            <td><center><a href="{{ path('edittrainer', {'letter': first|capitalize, 'ID': data.trainerid, 'adminyear': adminyear, 'validfrom': data.validfrom }) }}">
                <button  class='btn btn-default btn-sm'  name='update'> <span class='glyphicon glyphicon-wrench'></span></button></a></center></td>
            <td>{{ data.trainerid }}</td>
            
            {% if data.title == '1' %}
                <td>Herr</td>
            {% else %}
                <td>Frau</td>
            {% endif %}
            
            <td>{{ data.lastname|striptags }}</td>
            <td>{{ data.firstname|striptags }}</td>
            
            {% if data.state == '1' %}
                <td>Aktiv</td>
            {% else %}
                <td>Inaktiv</td>
            {% endif %}
            
            <td>{{ data.birthday|date("d.m.Y") }}</td>
            <td>{{ data.location|striptags }}</td>
            <td>{{ data.streetaddress|striptags }}</td>
            <td>{{ data.postcode|striptags }}</td>
            
            {% if trainerdependentlist[data.trainerid]['phonenumbers'] is defined %}
                {% set pns =trainerdependentlist[data.trainerid]['phonenumbers'] %}
                {% else %}
                    {% set pns ='' %}  
                {% endif %}
            
            <td>{% for PN in pns %}
                        {{ PN.phonenumber }}<br>
                        {% else  %}
                        {{ "-" }}    
                    {% endfor %}</td>
                    
            <td>{{ data.email is empty ? "-" : data.email|striptags }}</td>                    
            <td>{{ data.mailbox is empty ? "-" : data.mailbox|striptags }}</td>
            <td>{{ data.type|striptags }}</td>
            
            {% if trainerdependentlist[data.trainerid]['nmemsportsgroups'] is defined %}
                {% set nms =trainerdependentlist[data.trainerid]['nmemsportsgroups'] %}
                {% else %}
                    {% set nms ='' %}  
            {% endif %}
            
            <td>{% for SG in nms %}
                        {{ SG.name }}<br>
                        {% else  %}
                        {{ "-" }}    
                    {% endfor %}</td>
            
            {% if trainerdependentlist[data.trainerid]['focuses'] is defined %}
                {% set foc =trainerdependentlist[data.trainerid]['focuses'] %}
                {% else %}
                    {% set foc ='' %}  
            {% endif %}
            
            <td>{% for FC in foc %}
                        {{ FC.theme }}<br>
                        {% else  %}
                        {{ "-" }}    
                    {% endfor %}</td>
                    
            {% if adminyear == "now"|date("Y") %}
                {% set now = "now"|date("Y-m-d") %}
            {% else %}
                {% set now = date(adminyear~'-12-31')  %}     
            {% endif %}
                    
            {% if trainerdependentlist[data.trainerid]['licences'] is defined %}
                {% set lic =trainerdependentlist[data.trainerid]['licences'] %}
                {% else %}
                    {% set lic ='' %}  
            {% endif %}
                    
            
            <td>
            {% for licence in lic  %}
                <div class="{% if date(licence.expirationdate)|date("Y-m-d") < now|date_modify("+2 months")|date("Y-m-d") %}red {% endif %}
                    {% if (now|date("Y") == licence.expirationdate|date("Y") and now|date("Y-m-d") < licence.expirationdate|date("Y.m.d")) %}yellowbackground{% endif %}">
                        {{ licence.licencetype|striptags }}</div>
                    {% else %}
                        {{ "-" }}
                    {% endfor %}
            </td>
            
            <td>
            {% for licence in lic  %}
                <div class="{% if date(licence.expirationdate)|date("Y-m-d") < now|date_modify("+2 months")|date("Y-m-d") %}red {% endif %}
                    {% if (now|date("Y") == licence.expirationdate|date("Y") and now|date("Y-m-d") < licence.expirationdate|date("Y.m.d")) %}yellowbackground{% endif %}">
                        {{ licence.licencenumber|striptags }}</div>
                    {% else %}
                        {{ "-" }}
                    {% endfor %}
            </td>
            
            <td>
            {% for licence in lic  %}
                <div class="{% if date(licence.expirationdate)|date("Y-m-d") < now|date_modify("+2 months")|date("Y-m-d") %}red {% endif %}
                    {% if (now|date("Y") == licence.expirationdate|date("Y") and now|date("Y-m-d") < licence.expirationdate|date("Y.m.d")) %}yellowbackground{% endif %}">
                        {{ licence.issuedate|date("d.m.Y") }}</div>
                    {% else %}
                        {{ "-" }}
                    {% endfor %}
            </td>
            
            <td>
            {% for licence in lic  %}
                <div class="{% if date(licence.expirationdate)|date("Y-m-d") < now|date("Y-m-d") %}red {% endif %}
                    {% if (now|date("Y") == licence.expirationdate|date("Y") and now|date("Y-m-d") < licence.expirationdate|date("Y.m.d")) %}yellowbackground{% endif %}">
                        {{ licence.expirationdate|date("d.m.Y") }}</div>
                    {% else %}
                        {{ "-" }}
                    {% endfor %}
            </td>
                    
           
                    
            </tr>
            {% endautoescape %} 
        {% endfor %}
{% endblock %}
    
    {% block pagination %}
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    
                <li {% if cletter == null %}class="active"{% endif %}><a href="{{ path(path, {'all': 'alle', 'adminyear': adminyear}) }}">ALLE</a></li>   
                
                {% for letter in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
                    
                    {% if letter == cletter %}     
                    <li class="active"><a href="{{ path(path, {'letter': letter, 'adminyear': adminyear}) }}">{{ letter }}</a></li>      
                    {% else %}
                    <li><a href="{{ path(path, {'letter': letter,'adminyear': adminyear}) }}">{{ letter }}</a></li>                    
                    {% endif %}
                    
                {% endfor %}
                
                <li class="active"><a href="{{ path(path, {'letter': cletter,'adminyear': adminyear}) }}">{{ tabledata|length }} Personen wurden gefunden</a></li>
                </ul>         
            </div>           
        </div>        
    {% endblock %}